In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/iris3.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
X = df.iloc[:, :4]
y = df.iloc[:, 4]

In [4]:
print(X[:5])

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
print(y[:5])

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [6]:
print(y[-10:])

140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
y = pd.get_dummies(y)
print(y[:10])

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0
5            1                0               0
6            1                0               0
7            1                0               0
8            1                0               0
9            1                0               0

In [9]:
from tensorflow.keras import models, layers

In [10]:
model = models.Sequential()
model.add(layers.Dense(12, input_dim=4, activation='relu'))
model.add(layers.Dense(8, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

In [14]:
48+96+24 + 3+8+12

191

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                60

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 3)                 27

=================================================================
Total params: 191
Trainable params: 191
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# 출력: 30/30 은 RangeIndex: 150 entries를 batch_size로 나눈 값
history = model.fit(X, y, epochs=30, batch_size=5)

Epoch 1/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0962 - accuracy: 0.9733
Epoch 2/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0993 - accuracy: 0.9733
Epoch 3/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0955 - accuracy: 0.9733
Epoch 4/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0992 - accuracy: 0.9600
Epoch 5/30
30/30 [==============================] - 0s 997us/step - loss: 0.0920 - accuracy: 0.9800
Epoch 6/30
30/30 [==============================] - 0s 963us/step - loss: 0.0887 - accuracy: 0.9800
Epoch 7/30
30/30 [==============================] - 0s 963us/step - loss: 0.0933 - accuracy: 0.9733
Epoch 8/30
30/30 [==============================] - 0s 963us/step - loss: 0.0877 - accuracy: 0.9733
Epoch 9/30
30/30 [==============================] - 0s 963us/step - loss: 0.0879 - accuracy: 0.9800
Epoch 10/30
30/30 [==============================] - 0s 963us/step - loss: 0.0850 - accuracy: 0.9800
Epoch 11/30
30/30 [==============================] - 0s 997us/step - loss: 0.0892 - accuracy: 0.9800
Epoch 12/30
30/30 [==============================] - 0s 963us/step - loss: 0.0844 - accuracy: 0.9667
Epoch 13/30
30/30 [==============================] - 0s 963us/step - loss: 0.0868 - accuracy: 0.9667
Epoch 14/30
30/30 [==============================] - 0s 963us/step - loss: 0.0847 - accuracy: 0.9800
Epoch 15/30
30/30 [==============================] - 0s 997us/step - loss: 0.0861 - accuracy: 0.9667
Epoch 16/30
30/30 [==============================] - 0s 929us/step - loss: 0.0983 - accuracy: 0.9533
Epoch 17/30
30/30 [==============================] - 0s 997us/step - loss: 0.0859 - accuracy: 0.9600
Epoch 18/30
30/30 [==============================] - 0s 963us/step - loss: 0.0954 - accuracy: 0.9533
Epoch 19/30
30/30 [==============================] - 0s 963us/step - loss: 0.0807 - accuracy: 0.9800
Epoch 20/30
30/30 [==============================] - 0s 963us/step - loss: 0.0899 - accuracy: 0.9733
Epoch 21/30
30/30 [==============================] - 0s 997us/step - loss: 0.0833 - accuracy: 0.9667
Epoch 22/30
30/30 [==============================] - 0s 997us/step - loss: 0.0800 - accuracy: 0.9733
Epoch 23/30
30/30 [==============================] - 0s 963us/step - loss: 0.0810 - accuracy: 0.9800
Epoch 24/30
30/30 [==============================] - 0s 963us/step - loss: 0.0804 - accuracy: 0.9733
Epoch 25/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0771 - accuracy: 0.9800
Epoch 26/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0781 - accuracy: 0.9733
Epoch 27/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0805 - accuracy: 0.9733
Epoch 28/30
30/30 [==============================] - 0s 997us/step - loss: 0.0926 - accuracy: 0.9600
Epoch 29/30
30/30 [==============================] - 0s 997us/step - loss: 0.0772 - accuracy: 0.9667
Epoch 30/30
30/30 [==============================] - 0s 1ms/step - loss: 0.0742 - accuracy: 0.9800